*, *::before, *::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


body {
 background-color: powderblue;
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.wrapper-piano {
    display: flex;
}


.key{
    height: calc(var(--width) * 4);
    width: var(--width);
}


.white {
    --width: 100px;
    background-color: aliceblue;
    border: 1px solid #333;
}

.white.active {
    background-color:#ccc ;
}

.black {
    width: 60px;
    height: 240px;
    background-color: black;
    margin-left: -30px;
    margin-right: -30px;
    z-index: 2;
}

.black.active{
  background-color: #333;  
}